<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>First name:</strong>
      <%= @profile.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @profile.last_name %>
    </p>

    <p>
      <strong>User name:</strong>
      <%= @profile.user_name %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= @profile.phone_number %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @profile.address %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @profile.user.profile.user_name %>
    </p>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  </div>
  <div class="col-md-6">
      <%# review comment form goes here %>
      <%# seller should not be able to leave review on his own profile %>
    <% if @profile != current_user.profile%>
        <div class="card">
          <div class="card-header">
            Review
          </div>
          <div class="card-body">
            <%= form_for([@profile.seller, Review.new], remote: true) do |f| %>
              <%= f.text_field :comment, class: "card-comment"%>
                <br>
              <%= f.submit "Add comment", class: "btn btn-primary mt-3" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <h1> Reviews </h1>
  </div>
  <% @profile.seller.reviews.each do |review| %>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= review.comment %></p>
        <footer class="blockquote-footer"><cite title="Source Title"><%=review.buyer.profile.first_name%></cite></footer>
      </blockquote>
    </div>
  <% end %>
</div>

