<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlaceVersion2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <!--Let browser know website is optimized for mobile-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar'%>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
